:root{
    --main-color:#399ef1;
}
*{
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    /* display: grid; */
   height: 110vh;
   overflow: hidden;
     /* display: flex;
    justify-content: center;
    align-items: center; */
}
/* .container{
    background-size: 60px 60px;
    background-image: linear-gradient(to right, var(--main-color) 3px , transparent 2px),
     linear-gradient(to bottom, var(--main-color) 3px , transparent 1px);
    height: 100vh;
    overflow: hidden;
} */
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.9px;

}
.container::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(#000,var(--main-color),#000);
    transition: 1.5s;
    animation: down 4s infinite linear;
}
@keyframes down {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
.container span{
    display: block;
    border-radius: 10px;
    width: 72.5px;
    height: 72.5px; 
    background-color:#181818;
    position: relative;
    transition: 0.5s;
}
@media (max-width:1200px) {
    .container span{
        width: 70px;
    }
}
@media (max-width:767px) {
    .container span{
/*    not support in all phones      */
     /* width: 96px; */
    display: none;
    }
}
.container span:hover{
    background-color:var(--main-color);
    transition: 0s;
}
.box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
    padding: 60px;
    background-color: #222;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}
@media (max-width:767px) {
    .box{
        width: 100%;
    }
}
.box .content h2{
    position: relative;
    width: 100%;
    top: -26px;
    font-size: 30px;
    left: 74%;
    transform: translateX(-50%);
    color: var(--main-color);
    margin: 10px;
}
.box .form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.box .form .name{
    position: relative;
}
.box .form input{
    padding: 20px 25px;
    background-color: #393939;
    position: relative;
    border: none;
    caret-color: var(--main-color);
    color: #FFF;
    font-size: 15px;
}
.box .form label{
    position: absolute;
    left: 8px;
    top: 18px;
    font-size: 20px;
    color: #777;
    transition: 0.5s;
}
.box .form input:focus ~ label,
.box .form input:valid ~ label{
    transform: translateY(-10px);
    font-size: 15px;
    color: #fff;
    top:10px;
}
.box .form .password{
    position: relative;
}
.box .form input:focus{
    outline: none;
}
.box .form .links{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto 10px;
}
.box .form .links a{
    text-decoration: none;
    color: var(--main-color);
    transition: 0.5s;
    font-size: 15px;
}
.box .form .links a:hover{
    color: #FFF;
}
.box .form input[type="submit"]{
    width: 100%;
    background-color: var(--main-color);
    padding: 15px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
.box .form input[type="submit"]:hover{
    background-color: #FFF;
    color: var(--main-color);
    border: 1px solid #FFF;
}
